@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lorem Ipsum College Management</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Lorem Ipsum</h2>
        <p>
            This is an MVC application created as an exercise
        </p>
    </div>
</div>